<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemId</key>
		<integer>1</integer>
		<key>itemSortOrder</key>
		<integer>0</integer>
		<key>itemName</key>
		<string>当前分支</string>
		<key>itemViewModelName</key>
		<string>CurrentBranchViewModel</string>
		<key>itemUIConfigure</key>
		<dict>
			<key>title</key>
			<string>当前分支</string>
			<key>subtitle</key>
			<string>当前分支当前分支当前分支当前分支当前分支当前分支当前分支当前分支</string>
			<key>iconImage</key>
			<string>branches</string>
		</dict>
		<key>itemStyle</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>itemId</key>
		<integer>2</integer>
		<key>itemSortOrder</key>
		<integer>1</integer>
		<key>itemName</key>
		<string>查看更多</string>
		<key>itemViewModelName</key>
		<string></string>
		<key>itemUIConfigure</key>
		<dict>
			<key>title</key>
			<string>查看更多</string>
			<key>subtitle</key>
			<string>当前分支当前分支当前分支当前分支当前分支当前分支当前分支当前分支</string>
			<key>iconImage</key>
			<string>branches</string>
		</dict>
		<key>itemStyle</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>itemId</key>
		<integer>3</integer>
		<key>itemSortOrder</key>
		<integer>2</integer>
		<key>itemName</key>
		<string>查看更多</string>
		<key>itemViewModelName</key>
		<string></string>
		<key>itemUIConfigure</key>
		<dict>
			<key>title</key>
			<string>查看更多</string>
			<key>subtitle</key>
			<string>当前分支当前分支当前分支当前分支当前分支当前分支当前分支当前分支</string>
			<key>iconImage</key>
			<string>branches</string>
		</dict>
		<key>itemStyle</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
